[Unit]
Description=Check the Skynet Let's Encrypt certificate daily

[Timer]
OnCalendar=daily
RandomizedDelaySec=12h
Persistent=true

[Install]
WantedBy=timers.target
