[Unit]
Description=Renew the Skynet Let's Encrypt certificate
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/certbot-duckdns/bin/certbot renew --quiet --deploy-hook "/usr/bin/systemctl reload nginx"
